[MESSAGES CONTROL]
disable=
  broad-exception-raised,
  implicit-str-concat,
  missing-class-docstring,
  missing-function-docstring,
  missing-module-docstring,
  too-few-public-methods,
  too-many-return-statements,
